# =========================
# Node / React Native
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# Android / Gradle
# =========================
**/android/.gradle/
**/android/build/
**/android/.cxx/
**/android/local.properties/

# =========================
# Rust
# =========================
target/

# =========================
# Go
# =========================
bin/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example